@mixin pos-abs-center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin pos-abs-center-horizental() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin pos-abs-center-vertical() {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
}

@mixin mq($size) {
    @if $size == 'phone' {
        @media screen and (max-width: 400px) {
            @content;            
        }
    }
    @else if $size == 'tablet' {
        @media screen and (min-width: 500px) {
            @content;            
        }
    }
    @else { // else

    }
}
